<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Life</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="title">
            <img src="{{ url_for('static', filename='img/better_life_logo_transparent.png') }}" alt="Better Life">
        </div>
        <div class="info">
            <p>Tu aliado en IA para acceder a información esencial y simplificar trámites en Latinoamérica.</p>
        </div>
        <div class="button">
            <button id="registerButton">Empezar</button>
        </div>
    </div>
    <div class="wave-footer"></div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
